include templates/head.pug

	<main>

	<section>
		<h1>Films aanpassen</h1>
		<p>Vewijder of voeg films toe aan favorieten</p>
	</section>


	<section id="movies">
		<h2>Favorieten films</h2>

		ul
			each val in movies
				li
					img(src=val.movieimage alt=val.moviename)


	</section>	


	<section>

		<h2>Film toevoegen</h2>

		form(action="/addmovie" method="post")
			select(name="moviename")
				each val in movies
					option(type="text" value=val.moviename) #{val.moviename}
			<br><br>
			<input type="submit">

			
		</main>

	</section>	

	<section>

		<h2>Film verwijderen</h2>

		form(action="/removemovie" method="post")
			select(name="moviename")
				each val in movies
					option(type="text" value=val.moviename) #{val.moviename}
			<br><br>
			<input type="submit">
		
			
		</main>

	</section>

include templates/foot.pug